# Ignore .env files that contain sensitive environment variables
.env

#Ignore the dev notebook
DTAppDev.ipynb

#Ignore the data i uploaded for the dashboard
Complete_Mood_Tracker_Data.xlsx
moodcheck-emi_rows.csv
moodcheck-emi-new.csv

#Ignore checkpoints and cache
**/.ipynb_checkpoints/
*.pyc
